body {
    margin: 50px;
    background-color: rgb(37, 34, 44);
}

.title {
    font-size: 25px;
}

.header-title {
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0; 
    display: flex;
}

nav ul li {
    margin-right: 60px;
    display: block;
}

nav ul li ul {
    display: none;   
    position: absolute;
}
nav ul li:hover ul {
    display: block;
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: rgb(254, 252, 252); /* Change to your desired color */
    line-height: 50%;
}
nav ul li ul li a:hover {
    background-color: rgb(51, 48, 66);
}
